#header{
    width: 850px;
    height: 70px;
    border: 5px solid black;
    display: flex;
    text-align: center;
    background-color: grey;
    color: white;
    margin-left: 150px;
    padding: 0;
}

.nav{
    margin:0;
    padding:0;
}


.text-white{
    display:inline-flex;
    justify-content: center;
    margin-left: 70px;
    text-align: center;
}

.button1{
    margin-left: 50px;
}

#jane{
    border: 5px solid black;
    width: 500px;
    height: 450px;
    margin-left: 150px;
    margin-top: 50px;
    padding-top: 50px;
    background: linear-gradient( aqua 20%, wheat 40%);
}


.ed{
    width: 500px;
    height: 175px;
    border: 5px solid black;
    margin-left: 150px;
    margin-top: 15px;
}

.in{
    float: right;
    margin-top: -700px;
    margin-right: 200px;
    padding: -100px;
    justify-content: space-between;
    color: rgb(232, 120, 139);
}

.con{
    width: 300px;
    height: 350px;
    border: 5px solid black;
    background: linear-gradient(black 10%, white 40%);
}   

.yourcon{
    width: 300px;
    height: 350px;
    border: 5px solid black;
    background: linear-gradient(black 10%, white 40%);
    color: pink;
}

.todd{
    text-size-adjust: 10em;
    color: pink;
}

.icon{
    width: 100px;
    height: 755;
}

.icon1{
    width: 20px;
    height: 20px;
}

.icon2{
    width: 20px;
    height: 20px;
}

.icon3{
    width: 30px;
    height: 25px;
    vertical-align: middle;
    color: white;
    justify-content: space-between;
    margin: 20px
}